{% extends 'base.html.twig' %}

{% block title %}Inscription | 3DWWM{% endblock %}

{% block content %}
    <h1>CRÉEZ VOTRE COMPTE</h1>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
        <hr>
    {% endif %}

    {{ form(form) }}
{% endblock %}