body
{
    position: relative;
}

.navbar-item-custom
{
    color: #FFFFFF;
}

.footer-custom
{
    width: 100%;
    padding-top: 25px;
    position: absolute;
    text-align: center;
    background-color: #FFFFFF;
}