@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* BODY */
body
{
    background: linear-gradient(90deg, #3E4044 0%, #28292F 100%);
}

.flex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section
{
    margin: auto;
    height: 100vh;
    color: #F5F5F5;
    width: min(1196px, 100%);
}

img
{
    border-radius: 6px;
}

.title
{
    font-size: 39px;
    font-weight: 300;
    margin: 75px 0 25px;
}

.title::before
{
    content: "";
    width: 150px;
    height: 10px;
    display: block;
    margin-bottom: 8px;
    border-radius: 30px;
    background: #89FFFD;
}

.center
{
    text-align: center;
}

.link
{
    color: #89FFFD;
    text-decoration: none;
}

table thead
{
    color: #3E4044;
    background: #89FFFD;
}

table th
{
    font-weight: 300;
}

table tbody
{
    text-align: center;
    background: rgba(245, 245, 245, .4);
}

table,
table th,
table td
{
    border-collapse: collapse;
}

table tr
{
    border:1px solid #89FFFD;
}

table th,
table td
{
    padding: 10px 25px;
}

.didn-t
{
    font-size: 24px;
    font-weight: 300;
}

.button
{
    border: none;
    font-size: 18px;
    font-weight: 300;
    color: #3E4044;
    border-radius: 6px;
    padding: 15px 20px;
    text-decoration: none;
    background: #89FFFD;
}

/* HEADER */
header
{
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(62, 64, 68, .4) 0%, rgba(40, 41, 47, .4) 100%);
}

header a
{
    color: #F5F5F5;
    text-decoration: none;
}

header span
{
    color: #89FFFD;
}

header nav
{
    gap: 25px;
}

header nav a:hover
{
    color: #89FFFD;
}
/* HEADER */

/* FOOTER */
footer
{
    width: 100%;
    padding: 25px;
    color: #F5F5F5;
    position: absolute;
    text-align: center;
}
/* FOOTER */

/* BODY */


/* ---------- FRONTEND/HOME ----------> index.html.twig <---------- */

/* 3D printer video */
video
{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
/* 3D printer video */

.title-home
{
    font-size: 64px;
    font-weight: 300;
    margin-top: 25px;
}

.title-home::before
{
    content: "";
    width: 150px;
    height: 10px;
    display: block;
    margin-bottom: 8px;
    border-radius: 30px;
    background: #89FFFD;
}

/* Best sellers */
.best-sellers
{
    padding-top: 50px;
}

.cards-best
{
    margin: 25px 0;
    justify-content: space-around;
}

.card-best-body
{
    margin-top: 5px;
    position: relative;
}

.card-best-body h3
{
    font-weight: 300;
}

.card-best-body span
{
    top: 0;
    right: 0;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
}

.visit-shop
{
    margin-top: 60px;
    text-align: center;
}
/* Best sellers */

/* Who are we ? */
.who-are-we p
{
    margin-top: 20px;
}
/* Who are we ? */

/* ---------- FRONTEND/HOME ----------> index.html.twig <---------- */


/* ---------- SECURITY ----------> register.html.twig <---------- */
.form-register
{
    width: 50%;
    margin: 0 auto;
    padding: 50px 25px;
    border-radius: 6px;
    background: rgba(245, 245, 245, .4);
}

.form-register label
{
    font-size: 18px;
}

.form-register .center
{
    margin-top: 25px;
}

.register-error
{
    color: #FF0000;
    text-align: center;
    margin-bottom: 5px;
}

.input-register
{
    border: none;
    width: 300px;
    padding: 5px;
    border-radius: 6px;
}
/* ---------- SECURITY ----------> register.html.twig <---------- */


/* ---------- SECURITY ----------> login.html.twig <---------- */
.form-login
{
    width: 50%;
    margin: 0 auto;
    padding: 50px 25px;
    border-radius: 6px;
    background: rgba(245, 245, 245, .4);
}

.form-login label
{
    font-size: 18px;
}

.form-login input
{
    border: none;
    width: 300px;
    padding: 5px;
    border-radius: 6px;
}

.form-login .center
{
    margin-top: 25px;
}

.login-error
{
    color: #FF0000;
    text-align: center;
    margin-top: 25px;
}

.redirection-register
{
    margin-top: 25px;
    text-align: center;
}
/* ---------- SECURITY ----------> login.html.twig <---------- */


/* ---------- FRONTEND/ACCOUNT ----------> index.html.twig <---------- */
.cards-account
{
    height: auto;
    min-height: 483.15px;
    justify-content: space-around;
}

.cards-account .flex
{
    margin: 0;
}

.card-account
{
    width: 250px;
    height: 400px;
    padding: 25px 0;
    border-radius: 6px;
    flex-direction: column;
    background: rgba(245, 245, 245, .4);
}

.card-account p
{
    font-size: 18px;
    font-weight: 300;
}

.card-account img
{
    width: 250px;
}

.card-account:first-child
{
    align-self: flex-end;
}

.card-account:last-child
{
    align-self: flex-start;
}
/* ---------- FRONTEND/ACCOUNT ----------> index.html.twig <---------- */


/* ---------- FRONTEND/ACCOUNT/ORDER ----------> index.html.twig <---------- */
.table-my-orders
{
    margin: 25px auto 0;
}
/* ---------- FRONTEND/ACCOUNT/ORDER ----------> index.html.twig <---------- */


/* ---------- FRONTEND/ACCOUNT/ORDER ----------> display.html.twig <---------- */
.account-details-order
{
    margin-top: 25px;
    align-items: baseline;
    justify-content: space-around;
}

.account-details-order h2
{
    font-weight: 300;
    margin-bottom: 10px;
}

.account-recap-order
{
    padding: 20px 10px;
    border-radius: 6px;
    background: rgba(245, 245, 245, .4);
}

.account-recap-order p
{
    margin-top: 5px;
}

.tbody-bg
{
    background: rgba(62, 64, 68, .1);
}

.account-details-delivery
{
    padding: 20px 10px;
    border-radius: 6px;
    background: rgba(245, 245, 245, .4);
}
/* ---------- FRONTEND/ACCOUNT/ORDER ----------> display.html.twig <---------- */


/* ---------- FRONTEND/ACCOUNT/ADDRESS ----------> index.html.twig <---------- */
.cards-account-address
{
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.card-account-address
{
    width: 32%;
    margin-top: 25px;
    padding: 20px 10px;
    border-radius: 6px;
    background: rgba(245, 245, 245, .4);
}

.card-account-address h3
{
    font-weight: 300;
    margin-bottom: 5px;
}

.btn-add-address
{
    margin-bottom: 25px;
}
/* ---------- FRONTEND/ACCOUNT/ADDRESS ----------> index.html.twig <---------- */


/* ---------- FRONTEND/ACCOUNT/ADDRESS ----------> add.html.twig & update.html.twig <---------- */
.form-address
{
    width: 50%;
    margin: 25px auto;
    padding: 25px;
    border-radius: 6px;
    background: rgba(245, 245, 245, .4);
}

.input-address
{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.input-address-width
{
    width: 49.5%;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 10px;
}
/* ---------- FRONTEND/ACCOUNT/ADDRESS ----------> add.html.twig & update.html.twig <---------- */


/* ---------- FRONTEND/ACCOUNT/PASSWORD ----------> update.html.twig <---------- */
.form-password
{
    width: 50%;
    margin: 25px auto;
    padding: 50px 25px;
    border-radius: 6px;
    background: rgba(245, 245, 245, .4);
}

.password-error
{
    color: #FF0000;
    text-align: center;
    margin-bottom: 5px;
}

.form-password label
{
    font-size: 18px;
}

.form-password .center
{
    margin-top: 25px;
}

.input-password
{
    border: none;
    width: 300px;
    padding: 5px;
    border-radius: 6px;
}
/* ---------- FRONTEND/ACCOUNT/PASSWORD ----------> update.html.twig <---------- */


/* ---------- FRONTEND/PRODUCT ----------> index.html.twig <---------- */
.our-products
{
    margin-top: 100px;
}

.search
{
    width: 50%;
    padding: 25px;
    margin: 25px auto;
    border-radius: 6px;
    justify-content: space-around;
    background: rgba(245, 245, 245, .4);
}

.cards-product
{
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: space-around;
}

.card-product
{
    margin: 10px;
}

.card-product-body
{
    margin-top: 5px;
    position: relative;
}

.card-product-body h3
{
    font-weight: 300;
}

.card-product-body span
{
    top: 0;
    right: 0;
    font-size: 18px;
    font-weight: 300;
    position: absolute;
}

.input-product-search
{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 6px;
    margin-bottom: 5px;
}

.input-product-search-width
{
    width: 49%;
    border: none;
    padding: 5px;
    border-radius: 6px;
}
/* ---------- FRONTEND/PRODUCT ----------> index.html.twig <---------- */