{% extends 'base.html.twig' %}

{% block title %}Compte | 3DWWM{% endblock %}

{% block content %}
    <h1>MON COMPTE</h1>

    - <a href="{{ path('app_frontend_account_modifyPassword') }}">Modifier mon mot de passe</a>
{% endblock %}
