{% extends 'base.html.twig' %}

{% block title %}Compte | 3DWWM{% endblock %}

{% block content %}
    <h1>MON COMPTE</h1>

    - <a href="{{ path('app_frontend_account_password_modify') }}">Modifier mon mot de passe</a>
    <br>
    - <a href="{{ path('app_frontend_account_address_index') }}">Gérer mes adresses</a>
    <br>
    - <a href="#">Voir mes commandes</a>
{% endblock %}
