{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe | 3DWWM{% endblock %}

{% block content %}
    <h1>MODIFIER MON MOT DE PASSE</h1>

    <a href="{{ path('app_frontend_account_index') }}">Retourner à mon compte</a>

    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}

    {{ form(form) }}
{% endblock %}